
body, html {
   height: 100%;
   margin: 0;
    background-image: radial-gradient(circle, #eecb38, #efc831, #f1c42a, #f2c123, #f4bd1a, #f3b815, #f1b40e, #f0af07, #eba805, #e6a203, #e19b01, #dc9500);
}
header{
  background: white;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;

}

nav a {
  color: #121212;
  text-decoration: none;
  text-transform: uppercase;

}

nav a:hover{
  color: #1d1f1f;
  text-decoration: underline;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.container{
width: 95%;
font-family: 'Montserrat', sans-serif;
}

.banner-text{

  text-align: center;
  padding: 60px;
}

.text-big{

  font-family: 'Oswald', serif;
  letter-spacing: 3px;
  font-size: 60pt;
 }

.text-small{
  font-family: sans-serif;
  font-size: 20pt;
  font-weight: lighter;
  letter-spacing: 5px;
  margin-top: -15px;
  word-spacing: 5px;
}

.info{
width: 50%;
margin-right: auto;
margin-left: auto;
}

.info-header{
  font-weight: bold;
  font-size: 20pt;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: -10px;
}

.info-text{
  margin-top: -15px;
  text-align: justify;
 font-weight: 200;
 font-size: 13pt;
 font-family: 'Montserrat', sans-serif;

}

.logo{
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  }


.led{
  position: absolute;
  background-image: url(led.png);
  background-repeat: no-repeat;
  background-position: top;
  right: 10px;
  width: 140px;
  height: 140px;
  background-size: 100%;
  transition: linear 0.4s;
}

.led:hover{

  position: absolute;
  background-image: url(led-toggle.png);
  background-repeat: no-repeat;
  background-position: top;
  right: 10px;
  width: 140px;
  height: 140px;
  background-size: 100%;
  transition: linear 0.4s;
}


@media only screen and (max-width: 768px) {
.banner-text{width: 80%; padding-top:80px;}
.info {width: 90%;}
.info-header {font-size: 25pt;}
.info-text {font-size: 18pt;}
.led {opacity: 0;}
.logo {width: 60%;}
.container {height: 20%;}
}
